/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the navigation bar */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Styles for the header, .grid, and footer */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Styles for the main content */
h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue; /* Add a bottom border */
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

/* Styles for the header and footer */
.container {
    max-width: 840px;
    margin: 0 auto;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Styles for the main content area */
main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

/* Styles for the aside element */
aside {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 200px;
    background-color: #fff;
    padding: 5px;
    margin: 0;
}

/* Styles for the .box class */
.box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

/* Apply grid layout to .grid */
.grid {
    display: grid;
    grid-template-columns: 20rem 1fr; /* Define two columns with specified widths */
    grid-gap: 20px; /* Gap between columns */
    align-items: center;
}

/* Position main and aside within the grid */
main {
    grid-column: 2/3; /* Main occupies the second column */
    margin: 1rem;
}

aside {
    grid-column: 1/2; /* Aside occupies the first column */
    width: 20rem;
    position: relative;
}

